
@{
    ViewBag.Title = "FAQ";
}

<h1>FAQ</h1>
<hr />
<div class="list-group">
    <div class="list-group-item">
        <h2>What is this app?</h2>
        <p>This application is used to store notes.</p>
    </div>

    <div class="list-group-item">
        <h2>How do I use it?</h2>
        <p>Following the instructions after making an account, you then have the ability to see previously stored notes, create a new note, or edit a note that was previously written.</p>
    </div>

    <div class="list-group-item">
        <h2>What can notes include?</h2>
        <p>They can include both text and images. Depending on which the user (which is you) prefers.</p>
    </div>
</div>

