@model NoteAppMVC.Note

@{
    ViewBag.Title = "View Note";
}

<h1 style="display:inline-block">
    View Note
    &nbsp;&nbsp;&nbsp;&nbsp;
    <input type="button" class="btn btn-dark" onclick="location.href='@Url.Action("Dashboard", "Note")'" value="⤺ Back to Dashboard" style="margin-bottom:10px">
    &nbsp;
    <input type="button" class="btn btn-secondary" style="margin-bottom:10px" value="Share Note">
</h1>
<hr />
<div>
    <h4>
        @Html.DisplayFor(model => model.title)
    </h4>
    <dl class="dl-horizontal">
        <dd>
            @Html.DisplayFor(model => model.content)
        </dd>
        @if (Model.image != null)
        {
            <dd>
                <img src="~/Images/@Url.Content(Model.image)" style="max-height:350px;max-width:240px" />
            </dd>
        }
    </dl>
</div>
<p>
    @ViewBag.Message
</p>
